body {
    font-family: Helvetica Now,Helvetica,Arial,sans-serif;
    font-size: 12pt;
    line-height: 1.25;
    /* background: #F6F1F1; */

}

h3,h4,h5,h6 {
    color: #210D3C;
} 
.project-list-container {
    margin: 1%;
}
.project-list-item {
    border-top: solid 1px #210d3c2b;
    padding: 1rem;
    box-shadow: 0px 2px 1px 1px #210d3c2b;
    margin: 10px;
}
.project-title > h3 {
    margin-bottom: -1rem;
}
.project-description > p {
    font-size: 12pt;
}
.project-footer {
    display: flex;
    justify-content: flex-start;
    font-size: 10pt;
    flex-wrap: nowrap;
}
.project-footer > div {
    margin-right: 0.4rem;
    margin-left: 0px;
}
.project-footer > .sub-1 {
    display: flex;
    flex-grow: 3;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.project-footer > .sub-1 > div {
    width: 25%;
    min-width: 4em;
    max-width: 7em;
    display: inline-flex;
}
.project-footer > .sub-1 > div span {
    vertical-align:middle;
    align-self: center;
}
.form, form {
    border: 0.01em solid #14082475;
    display: block;
    align-items: center;
    max-width: 40rem;
    box-shadow: 0px 2px 1px 1px #210d3c2b;
}
.form .header, legend {
    background: #140824;
    color: #FEFEFF;
    padding: 1em;
}

.form .form-items, fieldset {
    border: none;
    display: block;
}
.input-item {
    margin: 1em;
}

.input-item input, .input-item select, .input-item textarea {
    height: 2em;
    width: 90%;
    border: 0.01em solid #14082475;
    padding: 5px;
    outline: none;
}
.input-item.inline {
    display: flex;
    justify-content: start;
}
.input-item.inline label {
    width: 100%;
}

.project-details, .project-plan {
    outline: none;
    min-height: 20em;
    max-width: 39em;
}

button {
    height: 3em;
    /* width: 2em; */
    border:  none;
    border-radius: 5%;
    margin: 5px;
    padding: 5px;
}
button.button-primary {
    background: #4F208B;
    color: #FEFEFF;
}
button.button-default {
    background: #A299DC;
    color: #FEFEFF;
}
.validation-errors {
    color: #ff0000ad;
    font-size: 8pt;
}
.alert-box {
    padding: 10px;
    text-align: center;
    margin: 10px 5px 10px 5px;
    align-self: center;
    min-width: 18rem;
    max-width: 38rem; 
    color: #FEFEFF;
}